*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
    line-height: 2;
}
header{
    width: 100%;
}
nav{
    line-height: normal;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.904);
    position: fixed;
    align-items: center;
    padding: 0px 30px;
}
#meni{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
#meni li{
    margin: 5px;
}
#meni li a{
    padding: 10px;
    font-size: 20px;
    color: #000;
}
a{
    text-decoration: none;
}
#meni li .aktivan{
    color: #6c8d92;
}
.coverphoto{
    width: 100%;
    height: 500px;
    background-image: url("../img/slika17.jpg");
    background-size: cover;
    background-position: center;
}
.coverusluge{
    background-image: url("../img/slika12.jpg");
}
.covercenovnik{
    background-image: url("../img/slika78.jpg");
}
.coverkontakt{
    background-image: url("../img/slika85.jpg");
}
#logo{
    animation-name: animacija;
    animation-duration: 4s;
}
@keyframes animacija{
    from{ 
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.tekstovi{
    margin: 50px auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    text-align: justify;
    flex-wrap: wrap;
}
.okvir{
    width: 45%;
}
.okvir img{
    width: 100%;
    border-radius: 10px;
}
#brojevi{
    width: 100%;
    background-image: url("../img/slika6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#statistika{
    text-align: center;
    margin: 30px;
}
#brojevi{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: justify;
    text-align: center;
    color: seashell;
}
.blok{
    padding: 50px;
}
#vesti{
    width: 100%;
    text-align: center;
    padding: 30px;
}
.vest{
    width: 40%;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #6c8d92;
}
.vest:hover{
    box-shadow: 0px 0px 20px #c7aabc;
    transition-duration: 1s;
}
footer{
    margin-top: 50px;
    width: 100%;
    background-color: #c7aabc;
    display: flex;
    justify-content: space-around;
    text-align: justify;
}
footer .blok{
    border: 0px;
}
#usluge{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.usluga{
    width: 30%;
    text-align: center;
    border: 1px solid #c7aabc;
    border-radius: 10px;
    margin: 20px 0px;
    padding-bottom: 10px;
}
.naslov{
    padding: 30px;
    text-align: center;
}
.usluga img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
#cenovnik{
    width: 80%;
    margin: 0pc auto;
}
#cenovnik table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
#cenovnik table td,#cenovnik table th{
    padding: 5px;
}
#cenovnik table:nth-child(even) tr{
    border-bottom: 1px solid #c7aabc;
}
#cenovnik table:nth-child(odd) tr{
    border-bottom: 1px solid #b8e3ea;
}
#cenovnik table:nth-child(even) tr:nth-child(even){
    background-color: #c7aabc;
}
#cenovnik table:nth-child(odd) tr:nth-child(even){
    background-color: #b8e3ea;
}
#cenovnik table{
    margin-bottom: 35px;
}
#cenovnik table td{
    width: 70%;
}
#forma{
    text-align: right;
}
#kontakt, #forma{
    width: 40%;
}
input{
    width: 70%;
    margin: 5px;
    padding: 5px;
    height: 30px;
    border: 1px solid #a3a3a3;
    font-family: 'Quicksand', sans-serif;
}
input[type=text],input[type=date],input[type=time],input[type=email]{
    border: none;
    border-bottom: 1px solid #a3a3a3;
}
.kontaktdiv{
    width: 80%;
    align-items: center;
}
#mapa,#mapa iframe{
    width: 100%;
    border: none;
}
.blok i{
    font-size: 25px;
    margin: 0px 3px;
}
.mreze{
    text-align: center;
}
.mreze a{
    color: #000;
}
footer .blok{
    padding: 30px;
}
.autor{
    padding-top: 90px;
}